body {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(47, 48, 49);
    color: aliceblue;
}
#header {
    border-radius: 22px;
    font-size: 35px;
    background-color: black;
    margin: 10%;
}
input {
    background-color: rgba(0, 0, 196, 0.877);
    border: 1.5px solid white;
    border-radius: 12%;
    margin: 2%;
    font-size: 18px;
}
#result {
    font-size: 22px;
    margin-top: 25px;
}